---
import { getCollection } from 'astro:content'

import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'

const hikes = await getCollection('hikes')

hikes.sort((a, b) => {
  const aDate = new Date(a.data.postDate).getTime()
  const bDate = new Date(b.data.postDate).getTime()
  return bDate - aDate
})
---

<Layout title="Home">
  <main class="wrapper flex flex-col items-center gap-10 py-14">
    <h1
      class="text-balance text-center font-sans text-4xl leading-tight"
      transition:animate="fade"
    >
      Curated Adventures for Curious Travelers
    </h1>
    <div class="grid max-w-sm gap-10 lg:max-w-none lg:grid-cols-3">
      {hikes.map(({ data, slug }) => <Card {...data} slug={slug} />)}
    </div>
  </main>
</Layout>
