---
import { ViewTransitions } from 'astro:transitions'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body transition:animate="none">
    <slot />

    <style is:global>
      body {
        @apply bg-white;
      }
    </style>
  </body>
</html>
