---
import { ViewTransitions } from 'astro:transitions'

import Nav from '@components/Nav.astro'
import vigetLogoSvg from '@assets/svgs/logo.svg?raw'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="stylesheet" href="https://use.typekit.net/pgm3sta.css" />

    <ViewTransitions />
  </head>
  <body
    transition:animate="none"
    class="relative bg-topography bg-500 bg-left-top"
  >
    <Nav />
    <slot />

    <a
      href="https://viget.com/"
      class="fixed bottom-1.5 right-1.5 size-9 rounded-lg border-2 bg-white p-2 outline-none outline-offset-2 transition-colors focus-visible:outline-red-orange"
    >
      <Fragment set:html={vigetLogoSvg} />
      <span class="sr-only">Viget</span>
    </a>

    <style is:global>
      @font-face {
        font-family: IBM Plex Mono;
        src: url('/fonts/ibm-plex-mono-latin-400-normal.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      body {
        @apply bg-white font-mono;
        min-width: 320px;
      }

      video {
        mask-image: linear-gradient(to bottom, transparent, black 10px);
      }

      .wrapper {
        @apply mx-auto max-w-7xl px-5 sm:px-10;
      }

      .text-balance {
        text-wrap: balance;
      }

      @keyframes slideUp {
        from {
          transform: translateY(20%);
          opacity: 0;
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes slideDown {
        from {
          transform: translateY(0);
          opacity: 1;
        }
        to {
          opacity: 0;
          transform: translateY(20%);
        }
      }
    </style>
  </body>
</html>
